@charset "utf-8";
/* CSS Document */
h1{
	color: #0E0D0D;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 36px;
	font-weight: 500;
}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial,    sans-serif;
    font-size: 18px;
}

body {
	padding: 0;
	background: #F4F385;
	width: 900px;
	max-width: autopx;
	margin-left: 250px;
	margin-right: 250px;
	
}
 
 

.nav ul {
  list-style: none;
  background-color: #991ca7;
  text-align: center;
  padding: 0px;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.9em;
  line-height: 40px;
  text-align:center;
}
 
.nav a {
  text-decoration: none;
  color: #CBB545;
  display: block;
  padding-left: 2px;
  border-bottom: 1px solid #991ca7;
  transition: .3s background-color;
}
 
.nav a:hover {
	background-color: #030303;
}
 
.nav a.active {
  background-color: red;
  color: #CBB545;
  cursor: default;
  }
 


@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
	display: inline-block;
    font-size: 1.2em;
  }
  
   .nav a {
    border-bottom: none;
  }


    
	
  .nav ul {
	overflow: auto;
	width: 891px;
	margin: 0 auto;
  }
  .nav {
    background-color: inherit;
  
  }  
  
  

  .nav li:hover ul {
	  text-align: center;
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}

.art {
	width: 800px;
	margin-top: 60px;
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 60px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #0E0D0D;
	
}

.img-responsive {
	margin-bottom: 5px;
}
.col-md-3 {
	margin-left: 250px;
}

.form-control { margin-bottom: 10px; }
.partydj {
	 
   margin-left: 180px;
   margin-top: 40px;
}
.elsa {
	margin-left: 40px;
}
.paraspace {
	margin-top:20px;
	margin-bottom: 10px;
}
